<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkvzH07iSfuGUgX2n3jVNy32Fjog65gIE</string>
	<key>GCM_SENDER_ID</key>
	<string>909204974606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.docsai.app</string>
	<key>PROJECT_ID</key>
	<string>docs-ai-192fb</string>
	<key>STORAGE_BUCKET</key>
	<string>docs-ai-192fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909204974606:ios:7a72ef7ee06fae7dd3605f</string>
</dict>
</plist>